/* css/dashboard.css */

.dashboard-container {
    padding: 20px;
}


.welcome-section,
.topics-section,
.charts-section,
.tips-section {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.chart-container {
    width: 48%;
    display: inline-block;
    margin-right: 2%;
    vertical-align: top;
}

.chart-container:last-child {
    margin-right: 0;
}

#journey-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}


.welcome-section {
    background-color: #007bff;
}

.welcome-section h2,
.welcome-section p  {
    color: white;
}

.welcome-section button {
    background-color: aliceblue !important;
    color: #007bff !important;
}

.topic-item:has(.status-completed) {
    background-color: #E8E8E8;
  }