/* css/onboarding.css */
body {
    padding-bottom: 0px;
    padding-top: 0px;
}
.onboarding-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
}

.carousel {
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: none;
    text-align: center;
}

.carousel-slide p {
    width: 300px;
    text-align: center;
    margin: auto;
}

.carousel-content h2 {
    color: #007bff;
}

#finish-btn {
    background: #4caf50;
}

.carousel-slide.active {
    display: block;
}

.carousel-content img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.carousel-controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-dots {
    display: flex;
    margin: 0 20px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #007bff;
}

#prev-btn, #next-btn, #finish-btn {
    padding: 10px 15px;
    margin: 0 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#finish-btn {
    display: none;
}