/* css/splash.css */
body {
    background: #fcfdfe url(../assets/images/hiking.gif) no-repeat;
    background-position-x: center;
    background-position-y: 30px;

}
.splash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f0f0f0; */
}

.splash-container h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.splash-container p {
    font-size: 1.2em;
    color: #666;
}